# http://editorconfig.org
# See coding conventions in CONTRIBUTING.md
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[{*.sh,*.bash,PKGBUILD,DEV,RUN,RUN_VENV,TVM,ISOMOD,ISOMOD_CACHE}]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true
