**/**__pycache__
SAFETY_LOCK
**/archiso**
**/**old.*
**/**.img
**/**.iso
**/**pwfile
**/**build
**/**dist
**/**.egg*
**/**.sh
**/**.egg-info/
**/**build/
**/**src/
**/**pkg/
**/**dist/
**/**archinstall.build/
**/**archinstall-v*/
**/**.pkg.*.xz
**/**archinstall-*.tar.gz
architecture/*.tar.gz
**/**.zst
**/**.network
**/**.target
**/**.qcow2
/.dev-**
**/**.sock
**/**.pid
**/**.log
**/**.fd
**/*-git
/test*.py
**.vscode/**
test_*/
.idea**
cmd_*
**/install.log
.cstore/*
**/report*.txt
**/cmd_history.txt
**/*.*~
**/*.sig
user*.json

CLAUDE.md
.codegraph/
.mypy_cache/
.ruff_cache/
.vscode/
a/
logs/
/guided.py
venv
.venv
.DS_Store
requirements.txt
/.gitconfig
/actions-runner
/cmd_output.txt
node_modules/
uv.lock
/site
archinstall/
partstoob/
/isos/mkosi/mkosi.conf.d/
/isos/mkosi/mkosi.cache/
/upstream-issues/
archinstall/
