# spi-inc requires emails to be linked
# so here is all the emails i use to code
# feel free to send me a picture of your goldfish

h8d13 <hadean-eon-dev@proton.me> <hadean-eon-dev@proton.me>
h8d13 <hadean-eon-dev@proton.me> <hadrien.loge@gmail.com>
h8d13 <hadean-eon-dev@proton.me> <52324046+h8d13@users.noreply.github.com>

